@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

$tableBackground: #fff;

.home {
  margin-left: 220px;
  .container {
    display: block;
    margin: 0 auto;
    max-width: 1000px;
    padding: 35px 0;
  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .title {
      display: block;
      color: #000;
      font-family: 'Poppins';
      font-size: 44px;
      font-weight: 400;
      text-align: left;
      margin-right: auto;
    }
    .add-button {
      cursor: pointer;
      display: block;
      margin-left: auto;
      background: #6e51ff;
      padding: 12px 36px;
      color: #fff;
      border-radius: 8px;
      outline: none;
      background-image: radial-gradient(
        at top left,
        #8c79eb, #6e51ff
      );
    }
  }

  .summary-cards {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    .summary-card {
      border-radius: 4px;
      background: #6e51ff;
      width: 100%;
      margin: 0 20px;
      padding: 18px;
      .title {
        font-family: 'Open Sans';
        font-size: 12px;
        color: #fff;
      }
      .content {
        font-family: 'Poppins';
        font-size: 22px;
        font-weight: 400;
        color: #fff;
      }
    }
    :first-child {
      margin-left: 0 !important;
    }
    :last-child {
      margin-right: 0 !important;
    }
    .gross-profit-loss {
      background-image: radial-gradient(
        at top left,
        #87E1BE, #59C593
      );
      box-shadow: 0px 15px 85px -7px rgba(135,225,190,0.6);
    }
    .net-profit-loss {
      background-image: radial-gradient(
        at top left,
        #FF9DBD, #FF6C90
      );
      box-shadow: 0px 15px 85px -7px rgba(255,157,189,0.6);
    }
    .top-category {
      background-image: radial-gradient(
        at top left,
        #D5A9FF, #B57EFF
      );
      box-shadow: 0px 15px 78px -7px rgba(213,169,255,0.6);
    }
    .top-product {
      .content {
        overflow-x: auto;
      }
      background-image: radial-gradient(
        at top left,
        rgb(238, 223, 107), #FFE000
      );
      box-shadow: 0px 15px 78px -7px rgba(228,223,102,0.6);
    }
  }

  .sales-table-container {
    margin-top: 60px;
    border-radius: 8px;
    width: 100%;
    min-height: calc(100vh - 370px);
    max-height: calc(100vh - 370px);
    overflow-y: scroll;
    border: 1px solid rgba(238,238,238,0.8);
    border-collapse: collapse;
    background-color: $tableBackground;
    .title {
      display: flex;
      flex-direction: row;
      flex-flow: row;
      align-items: center;
      padding: 16px 30px;
      font-size: 18px;
      box-shadow: inset 0 -1px #e3e8ee;
      .divider {
        height: 36px;
        margin: 0 18px;
        width: 1px;
        background-color: #eee;
      }
      .total {
        color: rgb(126, 126, 126);
        font-size: 14px;
      }
      .sync-container {
        margin: 0 0 0 auto;
        display: flex;
        flex-direction: row;
        .goat-btn {
          height: 51px;
          width: 220px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 4px;
          color: #000000;
          font-size: 14px;
          margin-left: 18px;
          padding: 12px 36px;
          background: #fff;
          outline: none;
          box-shadow: 0px 15px 85px -7px rgba(0,0,0,0.2);
          .img {
            margin-left: .4rem;
            width: 60px;
            height: auto;
            max-width: 100%;
          }
        }
        .stockx-btn {
          height: 51px;
          width: 216px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 4px;
          color: #fff;
          font-size: 14px;
          padding: 12px 36px;
          background: #3bae2b;
          outline: none;
          background-image: radial-gradient(
            at top left,
            #51bf43, #3bae2b
          );
          box-shadow: 0px 15px 85px -7px rgba(0,0,0,0.2);
          .img {
            margin-left: .6rem;
            width: 70px;
            height: auto;
            max-width: 100%;
          }
        }
      }
    }
    .sales-table {
      position: relative;
      width: 100%;
      height: 100%;
      .table-head, .table-body {
        .row {
          height: 100%;
          td {
            white-space: nowrap;
            width: auto;
            text-align: left;
            box-shadow: inset 0 -1px #e3e8ee;
            .cell {
              font-size: 12px;
              color: rgb(126, 126, 126);
              padding: 8px 8px 8px 30px;
              p {
                overflow-x: hidden
              }
            }
          }
        }
      }
      .table-body {
        .cell {
          color: #000 !important;
          .category {
            color: rgb(126, 126, 126);
            margin: 3px 0;
            font-size: 10px;
          }
          .select-container {
            min-width: 110px;
            padding: 8px;
            outline: none !important;
          }
        }
      }
      .no-sales-found {
        text-align: center;
        position: absolute;
        margin: 80px auto;
        left: 0;
        right: 0;
        font-size: 36px;
        color: rgb(126, 126, 126);
        .add-button {
          cursor: pointer;
          display: block;
          margin: 10px auto;
          background: #6e51ff;
          padding: 12px 36px;
          color: #fff;
          border-radius: 8px;
          outline: none;
          background-image: radial-gradient(
            at top left,
            #8c79eb, #6e51ff
          );
        }
      }
    }
  }
}
